extends layout

block content
  h1= title

    - let zombies = results
  //- let results = [{zombie_type:"Runner", height:72, turn_age:2},{zombie_type:"Charger", height:78, turn_age:4},{zombie_type:"Climber", height:60, turn_age:1}]
  div(class="container-fluid")
    div(class="row m-1")
    each item in zombies 
      - let destination = `dispatch(\"/zombies/update?id=${item._id}\")`
      div(class="col-sm-4") Type: #{item.zombie_type} Height: #{item.height} Turned Age: #{item.turn_age} 
        button.btn(class="btn-primary ml-1", onclick=destination) Update
    
    script.
      function dispatch(path){
        window.location.href = path
      }