extends layout
block content
  h1= title

  if (toShow == null)
    h2 No instance to delete
  else
    - let zombieid = toShow._id
    - let zombie_type = toShow.zombie_type
    - let height = toShow.height
    - let turn_age = toShow.turn_age
    - let actionid = "/resource/zombies/" + zombieid
    script let actionid = "#{actionid}"

    div
      div.row
        div(class='zombieAttr mr-3') Zombie ID is:
        div #{zombieid}
      div.row
        div(class='zombieAttr mr-3') Zombie Type is:
        div #{zombie_type}
      div.row
        div(class='zombieAttr mr-3') Zombie Height is:
        div #{height}
      div.row
        div(class='zombieAttr mr-3') Zombie Turned Age is:
        div #{turn_age}

      button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
      button(class="btn btn-secondary m-2" onclick="cancel()") Cancel

  script.
    function cancel() {
      // Go back to the home page for the zombie collection
      window.location.href='/zombies'
    }
  script.
    function deleteOnid() {
      console.log("starting delete")
      // delete first
      fetch(actionid, {
        method: 'DELETE' // Don't need a body for the delete
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Delete succeded")
        window.location.href='/zombies'
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Delete failed " + error )
      });
    }